.search-bar {
    width: 300px;
}


.search-bar input {
    width: 100%;

    box-sizing: border-box;

    padding: 14px 16px;

    border: 1px solid #ddd;

    border-radius: 6px;

    outline: none;

    font-size: 14px;
}


.search-bar input:focus {
    border-color: #111;
}


@media (max-width: 700px) {

    .search-bar {
        width: 100%;
    }

}